/* luckyb.css : lucky b */

body {
    background-color: black;
    color: white;
    font-family: 'Shadows Into Light', cursive;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.b {
    color: rgb(255, 205, 46);
    font-family: 'Long Cang', cursive;
    text-align: right;
    font-size: 50;
}

hr {
    /*border-color: rgb(255, 205, 46);*/
    border-color: white;
}

.white {
    z-index: -1;
}

.blue {
    z-index: -2;
}

.side {
    position: fixed;
    top: 0%;
}

.top {
    position: fixed;
    left: 0%;
}

.bottom {
    position: fixed;
    left: 0%;
}

.top.white { top: 0%; }
.top.blue { top: 3%; }
.side.white.left { left: 0%; }
.side.blue.left { left: 3%; }
.side.white.right { right: 0%; }
.side.blue.right { right: 3%; }
.bottom.white { bottom: 0%; }
.bottom.blue { bottom: 3%; }

@media screen and (max-height: 520px) {
    .white { visibility: hidden; }
    .blue { visibility: hidden; }
}

@media screen and (max-width: 1100px) {
    .white { visibility: hidden; }
    .blue { visibility: hidden; }
}

a { 
    text-decoration: none;
    color:white /* prevent href coloration */
} 

#topWrapper{
    height: 20vh;
}

#topPic{
    position: fixed;
    top: 0vw;
    width: 60%;
    left: 20%;
    right: 20%;
    z-index: -1;
}

#bottomWrapper{
    height: 20vh;
}

#bottomPic{
    position: fixed;
    bottom: 0vw;
    width: 60%;
    left: 20%;
    right: 20%;
    z-index: -1;
}

.stretch{
    width: 100%;
}

#content{
    position: fixed;
    max-width: 1200px;
    top: 20%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    height: 400px;
    z-index: 0;
    font-size: calc(6px + .7vw);
}

@media screen and (min-width: 1400px) {
    #content {
       font-size: 16px;
    }
}

#index{
    position: absolute;
    left: 7.5%;
    width: calc(50px + 10%);
}

.indexAlign {
    text-align: right;
}

#signature{
    width: 100%;
}

#photoWrapper{
    position: absolute;
    width: 35%;
    right: 31%;
}

#textPic{
    position: absolute;
    width: 100%;
    right: -5%;
    top: 80%;
    opacity: .75;
}

.description {
    position: absolute;
    left: 30%;
    right: 30%;
}

#description{
    position: absolute;
    right: calc(11% - 4vw);
    width: calc(50px + 10vw);
}

.descriptionAlign {
    text-align: left;
}

.bottomText {
    position: fixed;
    right: 1%;
    bottom: var(--bottomTextOffset);
    font-size: 12px; 
    font-weight: bold;
    color: black;
    opacity: .5;
    z-index: 1;
}

#homeButton {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 3px 3px;
    background-color: white;
    color:rgb(255, 205, 46);
    font-family: 'Raleway';
    outline: none;
}

#homeButton:hover {
    background-color: rgb(255, 205, 46);
    color: white;
}

audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    width: 230px;
    height: 25px;
}

/* fade in */
@keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
/* Firefox */ @-moz-keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
/* Safari, Chrome */ @-webkit-keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
/* IE */ @-ms-keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
/* Opera */ @-o-keyframes fadein { from { opacity: 0; } to { opacity: 1; } }

/* Hover Bold */
.hvr-bold:hover,
.hvr-bold:focus,
.hvr-bold:active {
    font-weight: bold;
    transition-duration: 0.05s; 
}

/* Hover Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.2);
}

.hvr-grow {
    color: white;
}

/* Hover Colors */
.fa-linkedin:hover { color: #0077B5; }
.fa-github:hover { color: #bd2c00; }
.fa-facebook:hover { color: #3B5998; }
.fa-instagram:hover { color: #7232bd; }
.fa-file:hover { color: #98FB98; }
.fa-envelope:hover { color: #FFA500; }

/********** social media tooltips **********/
 
.info {
    color: black;
}

.socialMediaTooltip {
    display: inline-block;
    position: relative;
    opacity: .6;
}

.socialMediaTooltip .socialMediaTooltipInfo {
    text-align: center;
    position: absolute;
    display: none;
    background: rgb(255, 205, 46);
    border: 1px solid #000000;
    border-radius: 3px;
    font-size: 0.875em;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: 1em;
    left: -10px;
    top: +22px;
    height: 10px;
    z-index: 2;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}

/*  form triangle */
.socialMediaTooltip .socialMediaTooltipInfo:before, .socialMediaTooltip .socialMediaTooltipInfo:after {
    content: '';
    display: block;
    position: absolute;
    left: +5px;
}

/* control the fill of the triangle */
.socialMediaTooltip .socialMediaTooltipInfo:after {
    top: -20px;
    border: 11px solid transparent;
    border-bottom-color: rgb(255, 205, 46);
}   

/* control the triangle border */
.socialMediaTooltip .socialMediaTooltipInfo:before {
    top: -21px;
    border: 11px solid transparent;
    border-bottom-color: #000000;
}

/* hover tooltip command */
.socialMediaTooltip:hover .socialMediaTooltipInfo, .socialMediaTooltip:focus .socialMediaTooltipInfo {
    display: inline-block;
}

/********** sidebar tooltips **********/

.sidebarTooltip {
    position: relative;
}

.opacityWrapper {
    opacity: 0.0;
    transition: opacity .5s linear !important; 
}

.sidebarPicture {
    border: 1px solid #000000;
    border-radius: 3px;
}

.sidebarTooltip .sidebarTooltipInfo {
    text-align: center;
    position: absolute;
    display: inline-block;
    background: rgb(255, 205, 46);
    border: 1px solid #000000;
    border-radius: 3px;
    font-size: 0.875em;
    font-weight: bold;
    padding-left: 1.8em;
    padding-right: 1.8em;
    padding-top: .8em;
    padding-bottom: 1em;
    left: +108%;
    top: var(--sidebarSquarePosition);
    z-index: 2;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
    visibility: hidden;
    transition: visibility .01s linear;
}

/*  form triangle */
.sidebarTooltip .sidebarTooltipInfo:before, .sidebarTooltip .sidebarTooltipInfo:after {
    top: var(--sidebarTrianglePosition);
    left: -20px;
    content: '';
    display: block;
    position: absolute;
}

/* control the fill of the triangle */
.sidebarTooltip .sidebarTooltipInfo:after {
    top: var(--sidebarTrianglePosition);
    border: 11px solid transparent;
    border-right-color: rgb(255, 205, 46);
}   

/* control the triangle border */
.sidebarTooltip .sidebarTooltipInfo:before {
    top: var(--sidebarTrianglePosition);
    left: -21px;
    border: 11px solid transparent;
    border-right-color: #000000;
}

/* hover/focus for toggling tooltip visibility */
.sidebarTooltip:hover .sidebarTooltipInfo, .sidebarTooltip:focus .sidebarTooltipInfo {
    visibility: visible !important;
}

/* hover/focus for fading tooltip opacity */
.sidebarTooltip:hover .opacityWrapper, .sidebarTooltip:focus .opacityWrapper {
    opacity: 0.7 !important;
    transition: opacity .5s linear !important;
}