/* laviana-mobile.css : Kyle Laviana Online Portfolio */


/* SCROLLBAR REMOVAL ON MOBILE ATTEMPTS
main {
    overflow: auto !important;
  }

html {
    overflow:   scroll !important;
    scrollbar-width: none;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
    border: 0px solid #000000;
    }
    
    ::-webkit-scrollbar-track {
    border-radius: 0px; 
    background-color: #000000; 
    }

::-webkit-scrollbar {
    width: 0px !important;
    background: transparent !important;
    -webkit-appearance: none !important;
    display: none !important;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none !important;
  }
  .scrollbar-hidden {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
  }

  body::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }

  body {
overflow: hidden !important;
-ms-overflow-style: none !important;
scrollbar-width: none !important;
overflow-y: hidden !important;
position: absolute !important;
}

SCROLLBAR REMOVAL ATTEMPTS END */ 

body {
    background-color: black;
    color: white;
    font-family: 'Shadows Into Light', cursive;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

#portraitPic {
    display: block;
    /*margin-left: 6%;*/
    margin-left: 22%;
    margin-right: auto;
}

.b {
    color: rgb(27, 156, 255);
    font-family: 'Long Cang', cursive;
    text-align: right;
    font-size: 44;
    margin-bottom: 30px;
}

hr {
    /*border-color: rgb(255, 205, 46);*/
    border-color: white;
}

.white {
    z-index: -1;
    visibility: hidden;
}

.blue {
    z-index: -2;
}

.side {
    position: fixed;
    top: 0%;
}

.top {
    position: fixed;
    left: 0%;
}

.bottom {
    position: fixed;
    left: 0%;
}

.top.white { top: 0%; }
.top.blue { top: -6%; }
.side.white.left { left: 0%; }
.side.blue.left { left: -7%; }
.side.white.right { right: 0%; }
.side.blue.right { right: -7%; }
.bottom.white { bottom: 0%; }
.bottom.blue { bottom: -6%; }

a { 
    text-decoration: none;
    color:white /* prevent href coloration */
} 
#topWrapper{
    height: 5vh;
}

#topPic{
    position: fixed;
    top: -5vw;
    left: 0px;
    right: 0px;
    z-index: -1;
}

#bottomWrapper{
    height: 5vh;
}

#bottomPic{
    position: fixed;
    bottom: -5vw;
    left: 0px;
    right: 0px;
    z-index: -1;
}

.stretch{
    width: 100%;
}

#content{
    position: fixed;
    max-width: 1200px;
    top: 5%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    height: 700px;
    z-index: 0;
}

#index{
    position: absolute;
    left: 10%;
    top: calc(20px + 12%);
    width: 25vw;
    font-size: calc(6px + .7vw);
}

.indexAlign {
    text-align: center;
}

#signature{
    position: relative;
    width: 20vw;
    left: 0%;
    top: 0%;
}

#photoWrapper{
    position: fixed;
    width: 60vw;
    left: 17%;
    bottom: 60px;
    z-index: -2;
}

#textPic{
    position: absolute;
    width: 100%;
    right: -5%;
    top: 80%;
    opacity: .75;
}

#description{
    position: absolute; 
    left: 25%;
    top: -1vw;
    width: 50vw;
    font-size: calc(6px + 1.3vw);
    z-index: -2;
}

/*
.wittheb {
    font-size: calc(7px + .8vw);
}
    */

.bottomText {
    position: fixed;
    right: 1%;
    bottom: var(--bottomTextOffset);
    font-size: 11px; 
    color: gray;
    z-index: 1;
}

/* Home Button 3 */

#homeButton {
    position: absolute;
    top: 20px;
    /*left: 20px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    border-radius: 5px;
    border-color: #01070c;
    font-size: 10px; /* was 20 */
    box-shadow: 1px 1px;
    background-color: rgb(0, 0, 0);
    color: rgb(256,204,52);
    font-family: 'Raleway';
    outline: none;
}

#homeButton:hover {
    background-color: #01070c;
    color: white;
}

#homeButton.homeButtonBottom {
    position: relative;
    bottom: 40px;
    top: auto;
}

#expandButton {
    position: relative;
    bottom: -100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    border-radius: 5px;
    border-color: #01070c;
    font-size: 14px;
    box-shadow: -1px 1px;
    background-color: rgb(0, 0, 0);
    color:rgb(256,204,52);
    font-family: 'Raleway';
    outline: none;
}

/*
Home Button 2

#homeButton {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 3px 3px;
    background-color: white;
    // color:rgb(27, 156, 255);
    color:rgb(256,204,52);
    font-family: 'Raleway';
    outline: none;
}

#homeButton:hover {
    // background-color: rgb(27, 156, 255);
    background-color: #209cfc;
    color: white;
}

#homeButton.homeButtonBottom {
    position: relative;
    bottom: 20px;
    top: auto;
}
*/

/*
Home Button 1

#homeButtonBottom:hover {
    background-color: #209cfc;
    color: white;
}

#homeButtonBottom {
    position: relative;
    bottom: 20px;
    left: 20px;
    z-index: 2;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 3px 3px;
    background-color: white;
    color:rgb(256,204,52);
    font-family: 'Raleway';
    outline: none;
}
*/

audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    width: 230px;
    height: 25px;
}

video {
    display: block;
    margin: 0 auto;
  }
  
/* fade in */
@keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
/* Firefox */ @-moz-keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
/* Safari, Chrome */ @-webkit-keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
/* IE */ @-ms-keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
/* Opera */ @-o-keyframes fadein { from { opacity: 0; } to { opacity: 1; } }

/* Hover Bold */
.hvr-bold:hover,
.hvr-bold:focus,
.hvr-bold:active {
    font-weight: bold;
    transition-duration: 0.05s; 
}

/* Hover Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.2);
}

/* Hover Colors */
.fa-linkedin:hover { color: #0077B5; }
.fa-github:hover { color: #bd2c00; }
.fa-facebook:hover { color: #3B5998; }
.fa-instagram:hover { color: #7232bd; }
.fa-file:hover { color: #98FB98; }
.fa-envelope:hover { color: #FFA500; }

/********** social media tooltips **********/
 
.socialMediaTooltip {
    display: inline-block;
    position: relative;
    opacity: .6;
}

.socialMediaTooltip .socialMediaTooltipInfo {
    text-align: center;
    position: absolute;
    display: none;
    background: rgb(27, 156, 255);
    border: 1px solid #000000;
    border-radius: 3px;
    font-size: 0.875em;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: 1em;
    left: -10px;
    top: +22px;
    height: 10px;
    z-index: 2;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}

/*  form triangle */
.socialMediaTooltip .socialMediaTooltipInfo:before, .socialMediaTooltip .socialMediaTooltipInfo:after {
    content: '';
    display: block;
    position: absolute;
    left: +5px;
}

/* control the fill of the triangle */
.socialMediaTooltip .socialMediaTooltipInfo:after {
    top: -20px;
    border: 11px solid transparent;
    border-bottom-color: rgb(27, 156, 255);
}   

/* control the triangle border */
.socialMediaTooltip .socialMediaTooltipInfo:before {
    top: -21px;
    border: 11px solid transparent;
    border-bottom-color: #000000;
}

/* hover tooltip command */
.socialMediaTooltip:hover .socialMediaTooltipInfo, .socialMediaTooltip:focus .socialMediaTooltipInfo {
    display: inline-block;
}

.emailNewsletter {
    text-align: right;
    position: relative;
    font-size: 10;
    margin-right: -1em; 
    float: right; 
}

/*
.emailNewsletter {
    text-align: center;
    position: absolute;
    display: none;
    background: rgb(27, 156, 255);
    border: 1px solid #000000;
    border-radius: 3px;
    font-size: 0.875em;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: 1em;
    left: -10px;
    top: +22px;
    height: 10px;
    z-index: 2;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}
    */

/********** sidebar tooltips **********/

.sidebarTooltip {
    position: relative;
    font-size: 1.5em;
}

.opacityWrapper {
    opacity: 0.0;
    transition: opacity .5s linear !important; 
}

.sidebarPicture {
    border: 1px solid #000000;
    border-radius: 3px;
}

    .sidebarTooltip .sidebarTooltipInfo {
        text-align: center;
        position: absolute;
        display: inline-block;
        background: rgb(27, 156, 255);
        border: 1px solid #000000;
        border-radius: 3px;
        font-size: 0.875em;
        font-weight: bold;
        padding-left: 1.8em;
        padding-right: 1.8em;
        padding-top: .8em;
        padding-bottom: 1em;
        left: +108%;
        top: var(--sidebarSquarePosition);
        z-index: 2;
        -webkit-animation: fadein 1s;
        -moz-animation: fadein 1s;
        -ms-animation: fadein 1s;
        -o-animation: fadein 1s;
        animation: fadein 1s;
        visibility: hidden;
        transition: visibility .01s linear;
    }

/*  form triangle */
.sidebarTooltip .sidebarTooltipInfo:before, .sidebarTooltip .sidebarTooltipInfo:after {
    top: var(--sidebarTrianglePosition);
    left: -20px;
    content: '';
    display: block;
    position: absolute;
}

/* control the fill of the triangle */
.sidebarTooltip .sidebarTooltipInfo:after {
    top: var(--sidebarTrianglePosition);
    border: 11px solid transparent;
    border-right-color: rgb(27, 156, 255);
}   

/* control the triangle border */
.sidebarTooltip .sidebarTooltipInfo:before {
    top: var(--sidebarTrianglePosition);
    left: -21px;
    border: 11px solid transparent;
    border-right-color: #000000;
}

/* hover/focus for toggling tooltip visibility */
.sidebarTooltip:hover .sidebarTooltipInfo, .sidebarTooltip:focus .sidebarTooltipInfo {
    visibility: visible !important;
}

/* hover/focus for fading tooltip opacity */
.sidebarTooltip:hover .opacityWrapper, .sidebarTooltip:focus .opacityWrapper {
    opacity: 0.7 !important;
    transition: opacity .5s linear !important;
}